<h2><%= @user.username %>'s Plants</h2>

<div class="user-plants">
  <ul>
    <% @user.plants.each do |plant| %>
      <% if plant.images.attached? %>
        <p>
          <% plant.images.each do |image| %>
            <%= image_tag(image) %>
          <% end %>
        </p>
      <% end %>

      <% if @user.id != current_user_id && !(plant.private) %>
        <li>
          <%= plant.name %>
        </li>
      <% end %>
      
      <% if @user.id == current_user_id %>
        <li>
          <a href="<%= plant_url(plant) %>"><%= plant.name %></a>
          <i>watered <%= plant.last_watered %> ago</i>
        </li>
      <% end %>
    <% end %>
  </ul>

  <% if @user == current_user %>
    <p><%= link_to 'New Plant', new_plant_url %></p>
  <% end %>
</div>

<div class="all-plants">
  <p><%= link_to 'Browse Plants', plants_url %></p>
</div>

