<h2><%= @plant.name %></h2>

<% if @plant.last_watered %>
  <p><i><%= @plant.last_watered %></i></p>
<% end %>

<% if @plant.notes %>
  <p><%= @plant.notes %></p>
<% end %>

<% if @plant.images.attached? %>
  <p>
    <% @plant.images.each do |image| %>
      <%= image_tag(image) %>
    <% end %>
  </p>
<% end %>


<form action="<%= plant_url(@plant) %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Plant">
</form>

<p><a href="<%= edit_plant_url(@plant) %>">Edit Plant</a></p>
<p><a href="<%= user_url(current_user_id) %>">All My Plants</a></p>


